.link:hover {
  cursor: pointer;
}
.accordina-item-container {
  /* width: 200px; */
  width: '100%';
  padding: 10px;
  margin-left: 10px;
  font-size: 15px;
}
.accordina-item-container:hover {
  background-color: #1f2833;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  /* padding-left: 12px; */
}
