.link:hover {
  cursor: pointer;
}
.accordina-item-container {
  width: 200px;
  padding: 10px;
  margin-left: 10px;
  font-size: 15px;
}
.accordina-item-container:hover {
  background-color: #1f2833;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  /* padding-left: 12px; */
}

@media (min-width: 606px) {
  .accordion-button {
    max-width: 300px;
  }
  .accordina-item-container {
    width: 200px;
  }
}

@media only screen and (min-width: 900px) {
  .accordion-button {
    /* display: none; */
  }
}
